<div class="footerContainer">
  <div class="infoContainer">
    <div class="footerItem">
      <h5 class="title">EcoFashion</h5>
      <p class="content">Plataforma de Alfonso Arroyo Garcia.
        Liderando el cambio hacia una industria textil
        ética.</p>
    </div>

    <div class="footerItem">
      <h5 class="title">Redes Sociales</h5>
      <div class="redesSocialesContainer">

        

        <a href="https://www.instagram.com/ecofashionudl?igsh=Yzk1NDNrajM3Mjk5" target="_blank" class="white-text valign-wrapper">
          <i class="fab fa-instagram"></i> Instagram
        </a>

        <a href="https://www.facebook.com/share/1PAUrbuaz9/" target="_blank" class="white-text valign-wrapper">
          <i class="fab fa-facebook"></i> Facebook
        </a>

      </div>
    </div>
  </div>

  <div class="container">
    <p class="colorFooter center-align">© 2024 EcoFashion Platform. Committed to ODS 12 Sustainable Consumption.</p>
  </div>
</div>