<div class="navbar-fixed">
  <nav style="background-color: #506146;">

    <div class="nav-wrapper container">

      <a href="#inicio" class="brand-logo navbarTitle left" style="display: flex; align-items: center; height: 100%;">
        <img src="img/logo.svg" alt="Logo EcoFashion"
          style="height: 42px; width: 42px; margin-right: 12px; object-fit: contain;">
        EcoFashion
      </a>

      <a href="#" data-target="mobile-nav" class="sidenav-trigger right">
        <i class="material-icons">menu</i>
      </a>

      <ul class="right hide-on-med-and-down">
        <li><a href="#inicio" class="navbarLinks"><i class="material-icons left">home</i>Inicio</a></li>
        <li><a href="#info" class="navbarLinks"><i class="material-icons left">info_outline</i>Impacto</a></li>
        <li><a href="#comparador" class="navbarLinks"><i class="material-icons left">compare_arrows</i>Comparador</a>
        </li>
        <li><a href="#simulador" class="navbarLinks"><i class="material-icons left">checkroom</i>Simulador</a></li>
        <li><a href="#formulario" class="navbarLinks"><i class="material-icons left">group</i>Contacto</a></li>
      </ul>

    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-nav">
  <li>
    <div class="user-view" style="padding-bottom: 10px;">
      <div class="background" style="background-color: #506146;"></div>
      <span class="white-text name" style="font-weight: bold; font-size: 1.5rem;">EcoFashion</span>
    </div>
  </li>


  <li><a href="#inicio" (click)="cerrarMenu()"><i class="material-icons">home</i>Inicio</a></li>
  <li><a href="#info" (click)="cerrarMenu()"><i class="material-icons">info_outline</i>Impacto
      Ambiental</a></li>
  <li><a href="#comparador" (click)="cerrarMenu()"><i class="material-icons">compare_arrows</i>Comparador</a></li>
  <li><a href="#simulador" (click)="cerrarMenu()"><i class="material-icons">checkroom</i>Simulador</a></li>
  <li><a href="#formulario" (click)="cerrarMenu()"><i class="material-icons">group</i>Contacto</a></li>
</ul>