<div class="navbar-fixed">
  <nav style="background-color: #506146;">

    <div class="nav-wrapper container">

      <a href="#inicio" class="brand-logo navbarTitle left">
        <i class="material-icons left">eco</i>EcoFashion
      </a>

      <a href="#" data-target="mobile-nav" class="sidenav-trigger right">
        <i class="material-icons">menu</i>
      </a>

      <ul class="right hide-on-med-and-down">
        <li><a href="#inicio" class="waves-effect waves-light"><i class="material-icons left">home</i>Inicio</a></li>
        <li><a href="#info" class="waves-effect waves-light"><i class="material-icons left">info_outline</i>Impacto</a>
        </li>
        <li><a href="#comparador" class="waves-effect waves-light"><i
              class="material-icons left">compare_arrows</i>Comparador</a></li>
      </ul>

    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-nav">
  <li>
    <div class="user-view" style="padding-bottom: 10px;">
      <div class="background" style="background-color: #506146;"></div>
      <span class="white-text name" style="font-weight: bold; font-size: 1.5rem;">EcoFashion</span>
    </div>
  </li>


  <li><a href="#inicio" class="waves-effect" (click)="cerrarMenu()"><i class="material-icons">home</i>Inicio</a></li>
  <li><a href="#info" class="waves-effect" (click)="cerrarMenu()"><i class="material-icons">info_outline</i>Impacto
      Ambiental</a></li>
  <li><a href="#comparador" class="waves-effect" (click)="cerrarMenu()"><i
        class="material-icons">compare_arrows</i>Comparador</a></li>
</ul>