<div class="mainHeader">
  <video #videoElement autoplay muted loop playsinline class="videoBackground">
    <source src="/videos/video_green.mp4" type="video/mp4" />
  </video>
  <div class="overlay"></div>

  <div class="container">
    <div class="row">
      <div class="infoContainer col s12 m8 l6 left-align">
        <h1 class="title">Redefiniendo la moda a través de la transparencia.</h1>

        <p class="mainheaderInfo">
          La industria de la moda rápida es responsable del 10% de las emisiones globales de
          carbono. En <b>EcoFashion</b>, trabajamos por la meta 12.8 para asegurar estilos de vida
          en armonía con la naturaleza.
        </p>

        <div class="buttonContainer">
          <a
            href="#comparador"
            class="btnHeader"
            style="display: inline-block; text-align: center; text-decoration: none"
          >
            Comenzar Comparación
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
