<div class="infografiaGreen">
    <div class="infografiaBox">
        <h5>Huella Hídrica</h5>
        <p>Una sola camiseta de algodón requiere 2,700 litros de agua. Rastreamos el uso del agua desde el cultivo
            hasta el teñido.</p>
        <div class="infografiaPie">
            <p>ODS 12.4 Gestión de Químicos</p>
        </div>
    </div>
    <div class="infografiaBox">
        <h5>Huella de Carbono</h5>
        <p>Analizamos el ciclo de vida completo y las emisiones de transporte para reducir el impacto en el
            calentamiento global.</p>
        <div class="infografiaPie">
            <p>Neutralidad Climática</p>
        </div>
    </div>
    <div class="infografiaBox">
        <h5>Opciones Sostenibles</h5>
        <p>Curaduría de marcas que utilizan materiales reciclados, fibras orgánicas y procesos de fabricación
            circulares certificados.</p>
        <div class="infografiaPie">
            <p>Circularidad 100%</p>
        </div>
    </div>

</div>